{%- assign sett_title = block.settings.title -%}
{%- if sett_title != blank -%}
<div class="wrap_title {{block_title}}" {{ block.shopify_attributes }}>
<h2 class="section-title tc pr flex fl_center al_center {{block.settings.style_title}}"><span class="mr__10 ml__10" style="font-size: {{block.settings.font_size}}px">{{sett_title}}</span></h2>
<span class="dn tt_divider"><span></span><i class="dn clpr{{block.settings.show_clpr}} {{block.settings.style_title |split:'+' | last }} la-{{block.settings.ic_tt}}"></i><span></span></span><span class="section-subtitle db tc{% if block.settings.sub_font == '2' %} sub-title{% endif %}">{{block.settings.sub_title}}</span>
</div>
{%- endif -%}
<style>
    @media screen (max-width: 767px) {
        .section-title {
            font-size: {{block.settings.font_size_mb}}px;
        }
    }
    
</style>