{%- liquid
  assign se_stts = section.settings
  assign use_pagination = se_stts.use_pagination 
  assign sett_equal = se_stts.use_eq_height
  assign show_vendor = se_stts.show_vendor
  assign col = se_stts.col_pr
  assign col_tb = se_stts.col_pr_tb
  assign col_mb = ' pr_animated done' | prepend:se_stts.col_pr_mb
  assign inc_pr = se_stts.pr_des
  assign page_handle = collection.handle
  assign collection_handle = collection.handle | prepend: 'best-seller-'
  assign collection_tags = collection[collection_handle]
  assign use_cdt = se_stts.use_cdt
  assign txt_cd = 'products.grid_items.offer_end_in' | t
  assign sid = section.id
  assign image = collection.image
  if se_stts.image != null
  assign image = se_stts.image
  endif
  render 'section_css'  
  assign inc_price = settings.price_format 
  assign use_rating = settings.use_pr_rating 
  assign inc_rating = settings.app_review 
  assign show_color = settings.show_pr_color 
  assign show_cl_type = settings.show_color_type 
  assign show_size = settings.show_pr_size 
  assign use_pagination = se_stts.use_pagination 
  assign current_page = '1' 
-%} 

  <div class="{{sid}} category-page-top-wrapper">
    {% if se_stts.show_bread %}
      <div class="sk-breadcrumbs">
        <nav class="sp-breadcrumb" aria-label="Breadcrumbs"><a href="{{ routes.root_url }}" class="dib">{{ 'general.breadcrumbs.home' | t }}</a><i class="facl facl-angle-right"></i>{{collection.title}}
        {%- assign get_url = '' | link_to_remove_tag: '' | split:'href="' | last | split:'"' | first | remove:'?customer_posted=true' -%}
        
        {%- assign sy = collection.sort_by -%}
        {%- if collection.current_type or sy != blank or collection.current_vendor or get_url contains '?' %}{% assign get_url = get_url | append:'&' %}{% else %}{% assign get_url = get_url | append:'/?' %}{% endif -%}
        {%- assign sort_by = sy | default: collection.default_sort_by -%}
      </div>
    {% endif %}
    
    {% if image != null %}
    <div class="sk-collection-top collection-page-top">
      <div class="row equal_nt auto al_center">
        <div class="cat-top-img col-12 col-md-12">
          <div class="nt_img_txt oh pr middle center">
            <a href="#content">
              <div class="nt_bg_lz lazyloadt4s item__position center" data-bgset="{{ image | img_url: '1x1' }}" style="padding-top: 30%;">
                <div class="txt_content pa t__0 l__0 b__0 r__0 caption-w-2 flex column shadow_wrap tc_md tc pe_none z__100">
                  <div class="pa pa_txts mb_h_pos50 mb_v_pos50 h_pos50 v_pos50">
                    <h1 class="image-title">{{collection.title}}</h1>{% if use_pagination %}<h6 class="shop-all pt__10" style="font-size: {{se_stts.shop_all_font_size}}px">Shop All {% if se_stts.btn_icon %}<i class="las la-arrow-right"></i>{% endif %}</h6>{% endif %}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  
  {%- assign arr_mg = se_stts.mg | remove:' ' | split:',' -%}
  {%- assign arr_mg_tb = se_stts.mg_tb | remove:' ' | split:',' -%}
  {%- assign arr_mg_mb = se_stts.mg_mb | remove:' ' | split:',' -%}
  {%- assign arr_pd = se_stts.pd | remove:' ' | split:',' -%}
  {%- assign arr_pd_tb = se_stts.pd_tb | remove:' ' | split:',' -%}
  {%- assign arr_pd_mb = se_stts.pd_mb | remove:' ' | split:',' -%}
  {%- assign arr_mg_bread = se_stts.mg_bread | remove:' ' | split:',' -%}
  {%- assign arr_mg_tb_bread = se_stts.mg_tb_bread | remove:' ' | split:',' -%}
  {%- assign arr_mg_mb_bread = se_stts.mg_mb_bread | remove:' ' | split:',' -%}
  <style>
    .{{sid}}.category-page-top-wrapper {
      margin-top: {{arr_mg[0]}}; 
      margin-right: {{arr_mg[1]}}; 
      margin-bottom: {{arr_mg[2]}}; 
      margin-left: {{arr_mg[3]}};
      padding-top: {{arr_pd[0]}}; 
      padding-right: {{arr_pd[1]}}; 
      padding-bottom: {{arr_pd[2]}}; 
      padding-left: {{arr_pd[3]}};
    }
    .sk-breadcrumbs {
      margin-top: {{arr_mg_bread[0]}}; 
      margin-right: {{arr_mg_bread[1]}}; 
      margin-bottom: {{arr_mg_bread[2]}}; 
      margin-left: {{arr_mg_bread[3]}};
    }
    @media screen and (max-width: 1023px) {
      .{{sid}}.category-page-top-wrapper {
        margin-top: {{arr_mg_tb[0]}}; 
        margin-right: {{arr_mg_tb[1]}}; 
        margin-bottom: {{arr_mg_tb[2]}}; 
        margin-left: {{arr_mg_tb[3]}};
        padding-top: {{arr_pd_tb[0]}}; 
        padding-right: {{arr_pd_tb[1]}}; 
        padding-bottom: {{arr_pd_tb[2]}}; 
        padding-left: {{arr_pd_tb[3]}};
      }
      .sk-breadcrumbs {
        margin-top: {{arr_mg_tb_bread[0]}}; 
        margin-right: {{arr_mg_tb_bread[1]}}; 
        margin-bottom: {{arr_mg_tb_bread[2]}}; 
        margin-left: {{arr_mg_tb_bread[3]}};
      }
    }
    @media screen and (max-width: 767px) {
      .{{sid}}.category-page-top-wrapper {
        margin-top: {{arr_mg_mb[0]}}; 
        margin-right: {{arr_mg_mb[1]}}; 
        margin-bottom: {{arr_mg_mb[2]}}; 
        margin-left: {{arr_mg_mb[3]}};
        padding-top: {{arr_pd_mb[0]}}; 
        padding-right: {{arr_pd_mb[1]}}; 
        padding-bottom: {{arr_pd_mb[2]}}; 
        padding-left: {{arr_pd_mb[3]}};
      }
      .sk-breadcrumbs {
        margin-top: {{arr_mg_mb_bread[0]}}; 
        margin-right: {{arr_mg_mb_bread[1]}}; 
        margin-bottom: {{arr_mg_mb_bread[2]}}; 
        margin-left: {{arr_mg_mb_bread[3]}};
      }
    }
    
  </style>

{%- schema -%}
  {
    "name": "Category Page Top",
    "class": "nt_section type_carousel type_featured_collection_owl tp_se_cdt",
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
     {
      "type": "checkbox",
      "id": "show_bread",
      "label": "Show Breadcrumbs?",
      "default": false
     },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection Title"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text",
        "default": "Sub Text"
      },
      {
        "type": "select",
        "id": "sub_font",
        "default": "2",
        "options": [
         {
            "value": "1",
            "label": "Body font"
         },
         {
            "value": "2",
            "label": "Sub title font"
          }
        ],
        "label": "Sub Text use font:"
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "See All Title",
        "info":"only working with design title 10",
        "default": "See all products"
      },
      {
        "type": "checkbox",
        "id": "show_clpr",
        "label": "Use icon color primary?",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "[Get icons Line awesome](https://icons8.com/line-awesome)"
      },
      {
        "type": "header",
        "content": "== General Settings"
      },
     {
      "type": "checkbox",
      "id": "use_pagination",
      "label": "Show Button?",
     "default": false
     },
     {
      "type": "range",
      "id": "shop_all_font_size",
      "label": "Shop All Button Size",
      "unit": "px",
      "min": 12,
      "max": 32,
      "step": 1,
      "default": 14
     },
      {
        "type": "checkbox",
        "id": "btn_rd",
        "label": "Button round?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "btn_icon",
        "label": "Button icon?",
        "default": false
      },
      {
        "type": "select",
        "id": "btn_style",
        "label": "Button style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
     
    
      {
        "type": "select","id": "layout","default": "wrap","label": "Layout",
        "options": [
            { "value": "container", "label": "Container"},
            { "value": "wrap", "label": "Wrapped Container"},
            { "value": "nt_full", "label": "Full Width"}
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "mg_bread",
        "label": "Breadcrumbs Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": ",,,,",
        "placeholder": "32px,,32px,"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": ",,,,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "default": ",,,,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "== Design Tablet Options"
      },
      {
        "type": "text",
        "id": "mg_tb_bread",
        "label": "Breadcrumbs Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": ",,,,",
        "placeholder": "32px,,32px,"
      },
      {
        "type": "text",
        "id": "mg_tb",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": ",,,,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_tb",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "default": ",,,,",
        "placeholder": "50px,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb_bread",
        "label": "Breadcrumbs Margin",
        "info":"Margin top, Margin right, Margin bottom, Margin left. Defaults to 0",
        "default": ",,,,",
        "placeholder": "32px,,32px,"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "default": ",,,,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "default": ",,,,",
        "placeholder": "50px,,50px,"
      }
    ]
  }
{% endschema %}
