{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign align_text = se_stts.align_text
  if se_stts.w_img != 0
    assign w_img = se_stts.w_img
  endif
  assign ccol = 'col-lg-1x col-md-2x col-3x' | replace: '1x', se_stts.col | replace: '2x', se_stts.col_md | replace: '3x', se_stts.col_mb -%}


<div class="pioneros-row nt_se_{{sid}} {{se_stts.layout}}" >
  {%- render 'section_title' -%}
  <div class="pioneros-grid">
    {%- for block in section.blocks %}{% assign insta_link = block.settings.insta_link %}{% assign open_link = block.settings.open_link -%}
      <div class="pioneros-item">
          {%- assign image = block.settings.image -%}
          {%- if image != blank %}{% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20{{image.width}}%20{{image.height}}%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" class="pioneros-img lazyloadt4s lz_op_ef w__100" alt="{{image.alt}}">
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        <div class="pionero-content">
          {%- if block.settings.title != blank -%}
              <h3 class="pioneros-title active mg__0">{{ block.settings.title | escape }}</h3>
            {%- endif -%}
            {%- if block.settings.text != blank -%}
              <div class=pioneros-text rte-setting mt__7">{{ block.settings.text }}</div>
            {%- endif -%}
          {%- if block.settings.show_insta -%}
            {%- capture ariaLabel -%}
              {%- if block.settings.insta_link.type == 'frontpage_link' -%}
                : {{ 'homepage.general.title' | t -}}
              {%- elsif block.settings.insta_link.type == 'catalog_link' -%}
                : {{ 'collections.catalog.title' | t -}}
              {%- elsif block.settings.insta_link.object.title -%}
                : {{ block.settings.insta_link.object.title -}}
              {%- endif -%}
            {%- endcapture -%}
            <a href="{{ insta_link }}" target="{{open_link}}" class="pionero-insta-link" aria-label="{{ ariaLabel | escape }}">
              <i class="facl facl-instagram"></i>
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  {%- if section.blocks.size == 0 %}{% render 'no-blocks' %}{% endif -%}
  </div>
</div>


{%- render 'section_css' -%}
{%- assign arr_mg = se_stts.mg | split:',' -%}
{%- assign arr_mg_mb = se_stts.mg_mb | split:',' -%}
{%- assign arr_pd = se_stts.pd | split:',' -%}
{%- assign arr_pd_mb = se_stts.pd_mb | split:',' -%}
{%- style -%}

.pioneros-row {
  margin-top: {{arr_mg[0]}};
  margin-right: {{arr_mg[1]}};
  margin-bottom: {{arr_mg[2]}};
  margin-left: {{arr_mg[3]}};
  padding-top: {{arr_pd[0]}};
  padding-right: {{arr_pd[1]}};
  padding-bottom: {{arr_pd[2]}};
  padding-left: {{arr_pd[3]}};
}
@media screen and (max-width: 767px) {
  .pioneros-row {
    margin-top: {{arr_mg_mb[0]}};
  margin-right: {{arr_mg_mb[1]}};
  margin-bottom: {{arr_mg_mb[2]}};
  margin-left: {{arr_mg_mb[3]}};
  padding-top: {{arr_pd_mb[0]}};
  padding-right: {{arr_pd_mb[1]}};
  padding-bottom: {{arr_pd_mb[2]}};
  padding-left: {{arr_pd_mb[3]}};
  }
}


.nt_se_{{sid}} .cat_space_item img,.nt_se_{{sid}} .cat_space_item svg { border-radius:{{se_stts.round}}% }
.nt_se_{{sid}} .h4,.nt_se_{{sid}} .h4>a {font-size:{{se_stts.fs_hd}}px}.nt_se_{{sid}} .rte-setting,.nt_se_{{sid}} .rte-setting>* {font-size:{{se_stts.fs_txt}}px}
.nt_se_{{sid}} img,.nt_se_{{sid}} .placeholder-svg,.type_feature_columns .nt_se_{{sid}} .nt_banner_holder .cat_space_item {margin-bottom:{{se_stts.space}}px}.nt_se_{{sid}} .placeholder-svg {display: inline-block;max-width:{{w_img}}px}
{%- endstyle -%}

{%- schema -%}
  {
    "name": "Pioneros Grid",
    "class": "nt_section",
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text"
      },
      {
        "type": "select",
        "id": "sub_font",
        "default": "2",
        "options": [
         {
            "value": "1",
            "label": "Body font"
         },
         {
            "value": "2",
            "label": "Sub title font"
          }
        ],
        "label": "Sub Text use font:"
      },
      {
        "type": "select",
        "id": "style_title",
        "options": [
         {
            "value": "title_1",
            "label": "Design 1"
         },
         {
            "value": "title_2",
            "label": "Design 2"
          },
         {
            "value": "title_3",
            "label": "Design 3"
          },
         {
            "value": "title_4",
            "label": "Design 4"
          },
         {
            "value": "title_5 lazyloadt4s",
            "label": "Design 5"
          },
         {
            "value": "title_6",
            "label": "Design 6"
          },
         {
            "value": "title_7 +la",
            "label": "Design 7 (with line-awesome)"
          },
         {
            "value": "title_8",
            "label": "Design 8"
          },
         {
            "value": "title_9",
            "label": "Design 9"
          },
         {
            "value": "title_10",
            "label": "Design 10"
          },
         {
            "value": "title_11",
            "label": "Design 11"
          },
         {
            "value": "title_12",
            "label": "Design 12"
          },
         {
            "value": "title_13",
            "label": "Design 13"
          }
        ],
        "label": "Design Title:"
      },
      {
        "type": "text",
        "id": "ic_tt",
        "label": "Style 7 icon line-awesome",
        "default": "gem"
      },
      {
        "type": "checkbox",
        "id": "show_clpr",
        "label": "Use icon color primary?",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "[Get icons Line awesome](https://icons8.com/line-awesome)"
      },
      {
        "type": "header",
        "content": "== General Settings"
      },
      {
        "type": "range",
        "id": "round",
        "label": "Round Image",
        "default": 0,
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "range",
        "id": "fs_hd",
        "min": 14,
        "max": 64,
        "step": 1,
        "label": "Font size heading",
        "unit": "px",
        "default": 24
      },
      {
        "type": "range",
        "id": "fs_txt",
        "min": 12,
        "max": 32,
        "step": 1,
        "label": "Font size Text",
        "unit": "px",
        "default": 16
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "50px,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "50px,,50px,"
      }
    ],
    "blocks": [{
    "type": "text_block",
    "name": "Pioneros Item",
    "settings": [
      {
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
        {
          "type": "checkbox",
          "id": "show_insta",
          "label": "Show Instagram Link?",
          "default": true
        },
        {
          "type": "url",
          "id": "insta_link",
          "label": "Instagram link url"
        },
        {
          "type": "select",
          "id": "open_link",
          "options": [
            {
              "value": "_self",
              "label": "Current window (_self)"
            },
           {
              "value": "_blank",
              "label": "New window (_blank)"
            }
          ],
          "label": "Open link in",
          "default": "_blank"
        }
      ]
    }],
    "presets": [
      {
        "name": "Text columns with images",
        "category": "III. Image",
        "blocks": [
          { "type": "text_block" },
          { "type": "text_block" },
          { "type": "text_block" }
        ]
      }
    ]
  }
{% endschema %}
