{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign img_ratio = se_stts.image_ratio 
  assign ck = false 
 if img_ratio == 'auto' 
  assign ck = true 
 endif

 assign image = se_stts.imageDefault
 if product.type contains "Hats"
 assign image = se_stts.imageHats
 
elsif product.type contains "Shirts"
 assign image = se_stts.imageShirts

 elsif product.type contains "Crop Tee"
 assign image = se_stts.imageShirts
  
elsif product.tags contains "Accessories"
 assign image = se_stts.imageAccessories
    
elsif product.type contains "Outerwear"
 assign image = se_stts.imageOuterwear
endif

 assign url = se_stts.button_link 
 if se_stts.cl_txt == 'dark' 
  assign cl_txt = 'cd,cg' 
 else 
  assign cl_txt = 'cw,cw,button-o-w' 
 endif 
 assign cl_arr = cl_txt | split:","
  assign image1 = product.images[0]
  assign image2 = product.images.last

 -%}

 <p>{{product.type}}</p>
 {%- capture layout1 -%}
<div class="img-text-indiv-product-container nt_se_{{sid}} {{se_stts.layout}} txt_shadow_{{se_stts.use_shadow}}" style="margin: 0 auto !important;">
  <div class="row no-gutters equal_nt {{img_ratio}} al_center">
    <div class="col-12 col-md-6 indiv-product-img-container">
      <div class="nt_img_txt oh pr middle center indiv-product-img mg__0">
        {%- if image != blank -%}
          <div class="image nt_bg_lz lazyloadt4s item__position {{se_stts.img_align}}" data-bgset="{{ image | img_url: '1x1' }}" data-sizes="auto" data-ratio="{{image.aspect_ratio}}" data-parent-fit="cover"></div>
        {%- else -%}
          <div class="image nt_bg_lz lazyloadt4s item__position {{se_stts.img_align}}" data-bg="{{ 'placeholder.jpg' | asset_url }}" style="padding-top: 111.1111111111111%;"></div>
        {%- endif -%}
      </div>
    </div>
    <div class="col-12 col-md-6 txt_col_img mg__0">
      <div class="flex column pr__50 shadow_wrap {{se_stts.txt_align}} {{cl_arr[1]}} indiv-product-text-right">
        <h2 class="mb__20 mt__0 {{cl_arr[0]}}" style="font-size: {{se_stts.header_text_size}}px; line-height: {{se_stts.header_line_height}}px">{{se_stts.title}}</h2>
        <h3 style="font-size: {{se_stts.sub_text_size}}px; line-height: {{se_stts.sub_line_height}}px">{{se_stts.subtitle1}}</h3>
        {{se_stts.text1}}
        <h3 style="font-size: {{se_stts.sub_text_size}}px; line-height: {{se_stts.sub_line_height}}px">{{se_stts.subtitle2}}</h3>
        {{se_stts.text2}}
        <h3 style="font-size: {{se_stts.sub_text_size}}px; line-height: {{se_stts.sub_line_height}}px">{{se_stts.subtitle3}}</h3>
        {{se_stts.text3}}
        {%- if url != blank and se_stts.button_label -%}<p class="mg__0"><a class="button {{cl_arr[2]}}" href="{{url}}" target="{{se_stts.open_link}}">{{se_stts.button_label}}</a></p>{%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- endcapture -%}

{%- capture layout2 -%}
<div class="img-text-indiv-product-container nt_se_{{sid}} {{se_stts.layout}} txt_shadow_{{se_stts.use_shadow}}" style="margin: 0 auto !important;">
  <div class="row no-gutters equal_nt {{img_ratio}} al_center flex_wrap_reverse" id="flex_wrap">
    <div class="col-12 col-md-6 txt_col_img txt-col-img-left mg__0">
      <div class="flex column pl__50 shadow_wrap {{se_stts.txt_align}} {{cl_arr[1]}} indiv-product-text-left" >
          <h3 class="mb__20 mt__0 {{cl_arr[0]}}" style="font-size:{{se_stts.header_text_size}}px; line-height: {{se_stts.header_line_height}}px">{{se_stts.title}}</h3>
          <h3 style="font-size: {{se_stts.sub_text_size}}px; line-height: {{se_stts.sub_line_height}}px">{{se_stts.subtitle1}}</h3>
          {{se_stts.text1}}
          
          <h3 style="font-size: {{se_stts.sub_text_size}}px; line-height: {{se_stts.sub_line_height}}px">{{se_stts.subtitle2}}</h3>
          {{se_stts.text2}}
          
          <h3 style="font-size: {{se_stts.sub_text_size}}px; line-height: {{se_stts.sub_line_height}}px">{{se_stts.subtitle3}}</h3>
          {{se_stts.text3}}
          {%- if url != blank and se_stts.button_label -%}<p class="mg__0"><a class="button {{cl_arr[2]}}" href="{{url}}" target="{{se_stts.open_link}}">{{se_stts.button_label}}</a></p>{%- endif -%}
      </div>
    </div>
    <div class="col-12 col-md-6 ">
      <div class="nt_img_txt oh pr middle center indiv-product-img mg__0">
          {%- if image != blank -%}
            <div class="image nt_bg_lz lazyloadt4s item__position {{se_stts.img_align}}" data-bgset="{{ image | img_url: '1x1' }}" data-sizes="auto" data-ratio="{{image.aspect_ratio}}" data-parent-fit="cover" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"></div>
          {%- else -%}
            <div class="image nt_bg_lz lazyloadt4s item__position {{se_stts.img_align}}" data-bg="{{ 'placeholder.jpg' | asset_url }}" style="padding-top: 111.1111111111111%;"></div>
          {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- endcapture -%}

{%- if se_stts.img_position == '1' -%}
{{- layout1 -}}
{%- else-if se_stts.img_position == '2' -%}
{{- layout2 -}}
{%- endif -%}

 
    <style>
      .nt_se_{{sid}} .txt_col_img p {
        font-size: {{se_stts.para_text_size}}px;
        line-height: {{se_stts.para_line_height}}px;
      }
      </style>

{%- render 'section_css' -%}

{%- schema -%}
  {
    "name": "Image with text product",
    "class": "nt_section type_image_text",
    "settings": [
      {
        "type": "header",
        "content": "== image Settings"
      },
      {
         "type": "image_picker",
         "id": "imageHats",
         "label": "Image for Hats Products"
       },
       {
         "type": "image_picker",
         "id": "imageShirts",
         "label": "Image for Shirts Products"
       },
       {
         "type": "image_picker",
         "id": "imageAccessories",
         "label": "Image for Accessories Products"
       },
       {
         "type": "image_picker",
         "id": "imageOuterwear",
         "label": "Image for Outerwear Products"
       },
       {
         "type": "image_picker",
         "id": "imageDefault",
         "label": "Default Image"
       },
      {
        "type": "select",
        "id": "img_align",
        "default": "center",
        "options": [
         {
            "value": "top",
            "label": "Top"
         },
         {
            "value": "center",
            "label": "Middle"
         },
         {
            "value": "bottom",
            "label": "Bottom"
         }
        ],
        "label": "Image alignment",
        "info":"Not active when enable Adapt to image"
      },
      {
       "type": "select",
       "id": "img_position",
       "options": [
        {
           "value": "1",
           "label": "Left"
         },
         {
           "value": "2",
           "label": "Right"
         }
       ],
       "label": "Image position",
       "default": "1"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect Ratio",
        "default": "auto",
        "info": "Aspect Ratio Custom will settings in General panel.",
        "options": [
          {
            "group": "Auto",
            "value": "auto",
            "label": "Adapt to image"
          },
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "ratio_nt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus1",
            "label": "Ratio Custom 1"
          },
          {
            "group": "Custom",
            "value": "ratio_cus2",
            "label": "Ratio Custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus3",
            "label": "Ratio Custom 3"
          },
          {
            "group": "Custom",
            "value": "ratio_cus4",
            "label": "Ratio Custom 4"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Text Settings"
      },
      {
        "type": "range",
        "id": "header_text_size",
        "label": "Header Text Size",
        "default": 28,
        "min": 16,
        "max": 64,
        "step": 1
      },
      {
        "type": "range",
        "id": "header_line_height",
        "label": "Header Line Height",
        "default": 28,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "sub_text_size",
        "label": "Subtitle Text Size",
        "default": 24,
        "min": 16,
        "max": 64,
        "step": 1
      },
      {
        "type": "range",
        "id": "sub_line_height",
        "label": "Subtitle Line Height",
        "default": 24,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "para_text_size",
        "label": "Paragraph Text Size",
        "default": 18,
        "min": 16,
        "max": 48,
        "step": 1
      },
      {
        "type": "range",
        "id": "para_line_height",
        "label": "Paragraph Line Height",
        "default": 18,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "text",
        "id": "subtitle1",
        "label": "Subtitle",
        "default": "OUR QUALITY GUARANTEE"
      },
      {
        "type": "text",
        "id": "subtitle2",
        "label": "Subtitle",
        "default": "SUSTAINABLY SOURCED"
      },
      {
        "type": "text",
        "id": "subtitle3",
        "label": "Subtitle",
        "default": "NATURAL MATERIALS"
      },
      {
        "type": "richtext",
        "id": "text1",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "richtext",
        "id": "text2",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "richtext",
        "id": "text3",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link (Optional)"
      },
      {
        "type": "select",
        "id": "open_link",
        "options": [
          {
            "value": "_self",
            "label": "Current window (_self)"
          },
         {
            "value": "_blank",
            "label": "New window (_blank)"
          }
        ],
        "label": "Open link in",
        "default": "_blank"
      },
      {
       "type": "select",
       "id": "txt_align",
       "options": [
        {
           "value": "tl",
           "label": "Left"
         },
         {
           "value": "tc",
           "label": "Center"
         },
         {
           "value": "tr",
           "label": "Right"
         }
       ],
       "label": "Text alignment",
       "default": "tc"
      },
      {
        "type": "header",
        "content": "== Color"
      },
      {
        "type": "checkbox",
        "id": "use_shadow",
        "label": "Use text shadow?",
        "default": false
      },
      {
        "type": "select",
        "id": "cl_txt",
        "options": [
         {
            "value": "dark",
            "label": "Dark"
         },
         {
            "value": "light",
            "label": "Light"
          }
        ],
        "label": "Text"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "nt_full",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "50px,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "50px,,50px,"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "III. Image"
      }
    ]
  }
{% endschema %}