{%- liquid
    assign sid = section.id
    assign se_stts = section.settings
    assign img_ratio = se_stts.image_ratio 
    assign ck = false 
   if img_ratio == 'auto' 
    assign ck = true 
   endif
   assign back_image = "/admin/co"
   assign back_image = se_stts.image
   assign url = se_stts.button_link 
   if se_stts.cl_txt == 'dark' 
    assign cl_txt = 'cd,cg' 
   else 
    assign cl_txt = 'cw,cw,button-o-w' 
   endif 
   assign cl_arr = cl_txt | split:","
   assign fs_arr = se_stts.text_size2 | split:"," 
   
  
  assign sett_equal = se_stts.use_eq_height
    assign col = se_stts.col_pr
    assign col_tb = se_stts.col_pr_tb 
    assign col_mb = '' | prepend:se_stts.col_pr_mb
    assign limit = se_stts.limit
    assign use_pagination = se_stts.use_pagination
    assign blog_owl = blogs[se_stts.blog]
    assign date = se_stts.date
    assign by = 'blogs.article.by' | t
    assign on = 'blogs.article.on' | t 
    assign show_au = se_stts.show_au
    assign show_dt = se_stts.show_dt
    assign sid = section.id
    assign video_none = "https://www.youtube.com/watch?v=_9VUPq3SxOc"
   -%}

<div class="col-12 col-md-6 sk-session-group-outer-container" style="margin: {{se_stts.mg}}">
  <h2 style="text-align: center;">{{se_stts.heading}}</h2>
    <div class="sk-session-group-inner-container nt_se_{{sid}}">
        {% for i in (1..8) %}
            {% if i == 1 %}
                {% assign video_url = se_stts.video_url1 %}
                {% assign title = se_stts.artist_name1 %}
                {% assign song = se_stts.song_name1 %}
                {% assign grid_link = se_stts.grid_link1 %}
            {% elsif i == 2 %}
                {% assign video_url = se_stts.video_url2 %}
                {% assign title = se_stts.artist_name2 %}
                {% assign song = se_stts.song_name2 %}
                {% assign grid_link = se_stts.grid_link2 %}
            {% elsif i == 3 %}
                {% assign video_url = se_stts.video_url3 %}
                {% assign title = se_stts.artist_name3 %}
                {% assign song = se_stts.song_name3 %}
                {% assign grid_link = se_stts.grid_link3 %}
            {% elsif i == 4 %}
                {% assign video_url = se_stts.video_url4 %}
                {% assign title = se_stts.artist_name4 %}
                {% assign song = se_stts.song_name4 %}
                {% assign grid_link = se_stts.grid_link4 %}
            {% elsif i == 5 %}
                {% assign video_url = se_stts.video_url5 %}
                {% assign title = se_stts.artist_name5 %}
                {% assign song = se_stts.song_name5 %}
                {% assign grid_link = se_stts.grid_link5 %}
            {% elsif i == 6 %}
                {% assign video_url = se_stts.video_url6 %}
                {% assign title = se_stts.artist_name6 %}
                {% assign song = se_stts.song_name6 %}
                {% assign grid_link = se_stts.grid_link6 %}
            {% elsif i == 7 %}
                {% assign video_url = se_stts.video_url7 %}
                {% assign title = se_stts.artist_name7 %}
                {% assign song = se_stts.song_name7 %}
                {% assign grid_link = se_stts.grid_link7 %}
            {% elsif i == 8 %}
                {% assign video_url = se_stts.video_url8 %}
                {% assign title = se_stts.artist_name8 %}
                {% assign song = se_stts.song_name8 %}
                {% assign grid_link = se_stts.grid_link8 %}
            {% endif %}
            {%- if video_url != video_none and video_url != "" -%}
            <div class="sk-session-grid-video post_2 post-thumbnail pr oh col-lg-{{col}} col-md-{{col_tb}} col-{{col_mb}}">
                
                    {% assign video_id = video_url | remove: "https://youtu.be/" %}
                    {% assign bg_url = video_url | remove: "https://youtu.be/" | prepend: "embed/" | prepend: "https://www.youtube.com/" | append: "?autoplay=1&mute=1&start=5&showinfo=0&controls=0&modestbranding=1&loop=1&rel=0&autohide=1&enablejsapi=1&playlist=" | append: video_id %}
                    {% assign lightbox_url = video_url | remove: "https://youtu.be/" | prepend: "embed/" | prepend: "https://www.youtube.com/" | append: video_id %}
                  {%- comment -%} <a class="sendero-session-link" href="{{grid_link}}" target="_blank">{%- endcomment -%} 
                        <div class="sk-session-grid-indiv-container">
                        <iframe width="100%" height="100%" src="{{bg_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
                        </iframe>  
                        <h3 class="sendero-session-title">{{title}}</h3>
                        <h5 class="sk-session-group-sub-title">"{{song}}"</h5>
                        <div class="sendero-session-overlay"></div>
                        </div>
                        <div class="sendero-session-item-popup">
                          <div class="sendero-session-item-popup-content-wrapper">
                            <div class="sendero-session-item-popup-content">
                              <i class="las la-times sendero-session-item-popup-close" onclick="senderoSessionPopupClose()"></i>
                              <iframe width="560px" height="315px" src="{{grid_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          </div>
                        </div>
                  {%- comment -%}  </a>{%- endcomment -%}
                
            </div>
            {%- endif -%}
        {% endfor %}
    </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".sendero-session-item-popup").forEach((popup) => {
      popup.addEventListener("click", trackModelClicks);
  })
  document.querySelectorAll(".sk-session-grid-indiv-container").forEach((frame) => {
    frame.addEventListener("click", () => senderoSessionItemClick(frame.parentNode.querySelector(".sendero-session-item-popup")));
  })
})

  function senderoSessionItemClick(item) {
    if (!item.classList.contains("active")){
      item.classList.add('active'); 
    document.querySelector('body').classList.add('noscroll');
    }
  }
  function senderoSessionPopupClose() {
    document.querySelector('body').classList.remove('noscroll');
    document.querySelectorAll(".sendero-session-item-popup").forEach((popup) => {
      popup.classList.remove("active");
    })
  }
  function trackModelClicks(e) {
    if (e.target.contains(e.target.querySelector(".sendero-session-item-popup-content-wrapper"))) {
      senderoSessionPopupClose();
    }
  }
 </script>

  {%- style -%}
.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.no-gutters .post-thumbnail {
    padding-right: 0;
    padding-left: 0;
}
{%- assign overlay = se_stts.overlay | divided_by: 100.0 -%}
.nt_se_{{sid}} .post-thumbnail>div {
    background: {{ se_stts.bg | color_modify: 'alpha', overlay }};
    padding: 20px;
    bottom: 0;
}
.nt_se_{{sid}} .post-thumbnail a:not(:hover),.nt_se_{{sid}} .post-thumbnail .post-meta .cw {
    color: {{ se_stts.cl}};
}
.nt_se_{{sid}} .post-thumbnail .post-meta,
.nt_se_{{sid}} .post-thumbnail .post-time {
  color: {{ se_stts.cl2}};
}
{%- endstyle -%}
{%- style -%}
      .nt_se_{{sid}} .txt_col_img p {
        font-size: {{fs_arr[1]}}px;
{%- endstyle -%}

{%- render 'section_css' -%}

{%- schema -%}
  {
    "name": "sk-session-group-grid",
    "class": "nt_section type_image_text",
    "settings": [
    {
        "type": "header",
        "content": "== General Settings"
      },
     {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Session Videos",
      "placeholder": "Session Videos"
     },
    {
      "type": "select",
      "id": "source1",
      "label": "Source Video:",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
       "id": "video_url1",
       "type": "video_url",
       "label": "1. Video URL",
       "accept": ["youtube"],
       "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
       "info": "To remove video block, insert url: https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "grid_link1",
      "type": "text",
      "label": "Link on click:",
      "default": "#"
    },
    {
        "type": "text",
        "id": "artist_name1",
        "label": "Artist Name"
      },
      {
        "type": "text",
        "id": "song_name1",
        "label": "Song Name"
      },
    {
      "type": "select",
      "id": "source2",
      "label": "Source Video:",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
       "id": "video_url2",
       "type": "video_url",
       "label": "1. Video URL",
       "accept": ["youtube"],
       "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
       "info": "To remove video block, insert url: https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "grid_link2",
      "type": "text",
      "label": "Link on click:",
      "default": "#"
    },
    {
        "type": "text",
        "id": "artist_name2",
        "label": "Artist Name"
      },
      {
        "type": "text",
        "id": "song_name2",
        "label": "Song Name"
      },
    {
      "type": "select",
      "id": "source3",
      "label": "Source Video:",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
       "id": "video_url3",
       "type": "video_url",
       "label": "1. Video URL",
       "accept": ["youtube"],
       "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
       "info": "To remove video block, insert url: https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "grid_link3",
      "type": "text",
      "label": "Link on click:",
      "default": "#"
    },
    {
        "type": "text",
        "id": "artist_name3",
        "label": "Artist Name"
      },
      {
        "type": "text",
        "id": "song_name3",
        "label": "Song Name"
      },
    {
      "type": "select",
      "id": "source4",
      "label": "Source Video:",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
       "id": "video_url4",
       "type": "video_url",
       "label": "1. Video URL",
       "accept": ["youtube"],
       "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
       "info": "To remove video block, insert url: https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "grid_link4",
      "type": "text",
      "label": "Link on click:",
      "default": "#"
    },
    {
        "type": "text",
        "id": "artist_name4",
        "label": "Artist Name"
      },
      {
        "type": "text",
        "id": "song_name4",
        "label": "Song Name"
      },
    {
      "type": "select",
      "id": "source5",
      "label": "Source Video:",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
       "id": "video_url5",
       "type": "video_url",
       "label": "1. Video URL",
       "accept": ["youtube"],
       "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
       "info": "To remove video block, insert url: https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "grid_link5",
      "type": "text",
      "label": "Link on click:",
      "default": "#"
    },
    {
        "type": "text",
        "id": "artist_name5",
        "label": "Artist Name"
      },
      {
        "type": "text",
        "id": "song_name5",
        "label": "Song Name"
      },
    {
      "type": "select",
      "id": "source6",
      "label": "Source Video:",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
       "id": "video_url6",
       "type": "video_url",
       "label": "1. Video URL",
       "accept": ["youtube"],
       "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
       "info": "To remove video block, insert url: https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "grid_link6",
      "type": "text",
      "label": "Link on click:",
      "default": "#"
    },
    {
        "type": "text",
        "id": "artist_name6",
        "label": "Artist Name"
      },
      {
        "type": "text",
        "id": "song_name6",
        "label": "Song Name"
      },
    {
      "type": "select",
      "id": "source7",
      "label": "Source Video:",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
       "id": "video_url7",
       "type": "video_url",
       "label": "1. Video URL",
       "accept": ["youtube"],
       "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
       "info": "To remove video block, insert url: https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "grid_link7",
      "type": "text",
      "label": "Link on click:",
      "default": "#"
    },
    {
        "type": "text",
        "id": "artist_name7",
        "label": "Artist Name"
      },
      {
        "type": "text",
        "id": "song_name7",
        "label": "Song Name"
      },
    {
      "type": "select",
      "id": "source8",
      "label": "Source Video:",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Youtube"
        },
        {
          "value": "2",
          "label": "Upload file"
        }
      ]
    },
    {
       "id": "video_url8",
       "type": "video_url",
       "label": "1. Video URL",
       "accept": ["youtube"],
       "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
       "info": "To remove video block, insert url: https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "id": "grid_link8",
      "type": "text",
      "label": "Link on click:",
      "default": "#"
    },
    {
        "type": "text",
        "id": "artist_name8",
        "label": "Artist Name"
      },
      {
        "type": "text",
        "id": "song_name8",
        "label": "Song Name"
      },
    {
      "type": "select",
      "id": "col_pr",
      "label": "Video columns (desktop)",
      "info": "How many Video you want to show per row",
      "default": "4",
      "options": [
        {
          "value": "6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_pr_tb",
      "label": "Video columns (tablet)",
      "default": "4",
      "options": [
        {
          "value": "6",
          "label": "2"
        },
        {
          "value": "4",
          "label": "3"
        },
        {
          "value": "3",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_pr_mb",
      "label": "Video columns (mobile)",
      "default": "12",
      "options": [
        {
          "value": "12",
          "label": "1"
        },
        {
          "value": "6",
          "label": "2"
        }
      ]
    },
    {
      "type": "header",
      "content": "== Color Articles Design"
    },
    {
      "type": "color",
      "id": "cl",
      "label": "Color Text",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "cl2",
      "label": "Color Text 2",
      "default": "#878787"
    },
      {
        "type": "color",
        "id": "bg",
        "label": "Background color",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "overlay",
        "label": "Background Opacity",
        "default": 80,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "header",
        "content": "== Design Image"
      },
      {
        "type": "checkbox",
        "id": "use_eq_height",
        "label": "Use equal height images?",
        "default": true
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect Ratio",
        "default": "ratio4_3",
        "info": "Aspect Ratio Custom will settings in General panel.",
        "options": [
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "ratio_nt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus1",
            "label": "Ratio Custom 1"
          },
          {
            "group": "Custom",
            "value": "ratio_cus2",
            "label": "Ratio Custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus3",
            "label": "Ratio Custom 3"
          },
          {
            "group": "Custom",
            "value": "ratio_cus4",
            "label": "Ratio Custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "nt_cover",
        "options": [
          {
            "value": "nt_cover",
            "label": "Full"
          },
          {
            "value": "nt_contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info": "The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "select",
        "id": "layout",
        "default": "nt_full",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "nt_full",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "50px,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "50px,,50px,"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "III. Image"
      }
    ]
  }
{% endschema %}