{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign section_blocks = section.blocks

 if se_stts.cl_txt == 'dark' 
  assign cl_txt = 'cd,cg' 
 else 
  assign cl_txt = 'cw,cw,button-o-w' 
 endif 
 assign cl_arr = cl_txt | split:","
 
 -%}

<div class="{{sid}} {{se_stts.layout}} txt_shadow_{{se_stts.use_shadow}}">
  <div class="row no-gutters equal_nt al_center">
    <div class="col-12 col-md-6 txt_col_img mg__0">
      <div class="flex column pr__50 shadow_wrap {{se_stts.txt_align}} {{cl_arr[1]}} sessions-description">
        <h2 class="mb__20 mt__0" style="font-size: {{se_stts.header_text_size}}px; line-height: {{se_stts.header_line_height}}px">{{se_stts.title}}</h2>
        {{se_stts.sessions_des}}
        {% if section.settings.use_anchor %}
          <a href="#videos-section" style="margin-top: {{section.settings.btn_spacing}}px">
            <button class="btn_icon_true">{{section.settings.btn_text}}</button>
          </a>
        {% endif %}
      </div>
    </div>
    {%- if section_blocks != null -%}
    <div class="col-12 col-md-6 sk-session-des-img-container pr">
        <div class="nt_cats_holder row fl_center equal_nt nt_slider js_carousel prev_next_1 btn_owl_2 cat_space_0 btn_vi_1" data-flickityt4s-js='{"imagesLoaded": false, "adaptiveHeight": false, "contain": false, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": false,"prevNextButtons": true,"percentPosition": true, "autoPlay" : {{ 6 | times: 1000 }}, "pauseAutoPlayOnHover" : true, "rightToLeft": {{settings.use_rtl}} }'>
          {%- for block in section_blocks %}
          <div class="cat_grid_item__overlay item__position nt_bg_lz lazyloadt4s" data-bgset="{{ block.settings.sessions_indiv_image | img_url: '1x1' }}" data-ratio="{{block.settings.sessions_indiv_image.aspect_ratio}}" data-sizes="auto" data-parent-fit="width" style="padding-bottom: 100%"></div>
        {%endfor  %}
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
</div>


{%- assign arr_mg = se_stts.mg  | split:',' -%}
{%- assign arr_mg_mb = se_stts.mg_mb  | split:',' -%}
{%- assign arr_pd = se_stts.pd  | split:',' -%}
{%- assign arr_pd_mb = se_stts.pd_mb  | split:',' -%}
    <style>
      .{{sid}} .sessions-description p {
        font-size: {{se_stts.para_text_size}}px;
        line-height: {{se_stts.para_line_height}}px;
      }
      .{{sid}} {
          margin-top: {{arr_mg[0]}};
          margin-right: {{arr_mg[1]}};
          margin-bottom: {{arr_mg[2]}};
          margin-left: {{arr_mg[3]}};
          padding-top: {{arr_pd[0]}};
          padding-right: {{arr_pd[1]}};
          padding-bottom: {{arr_pd[2]}};
          padding-left: {{arr_pd[3]}};
        }
      @media screen and (max-width: 767px) {
        .{{sid}} {
          margin-top: {{arr_mg_mb[0]}};
          margin-right: {{arr_mg_mb[1]}};
          margin-bottom: {{arr_mg_mb[2]}};
          margin-left: {{arr_mg_mb[3]}};
          padding-top: {{arr_pd_mb[0]}};
          padding-right: {{arr_pd_mb[1]}};
          padding-bottom: {{arr_pd_mb[2]}};
          padding-left: {{arr_pd_mb[3]}};
        }
      }
      
      </style>
{%- render 'section_css' -%}

{%- schema -%}
  {
    "name": "SK Sessions Description",
    "settings": [
      {
        "type": "header",
        "content": "== Text Settings"
      },
      {
        "type": "range",
        "id": "header_text_size",
        "label": "Header Text Size",
        "default": 28,
        "min": 16,
        "max": 64,
        "step": 1
      },
      {
        "type": "range",
        "id": "header_line_height",
        "label": "Header Line Height",
        "default": 32,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "para_text_size",
        "label": "Paragraph Text Size",
        "default": 18,
        "min": 16,
        "max": 48,
        "step": 1
      },
      {
        "type": "range",
        "id": "para_line_height",
        "label": "Paragraph Line Height",
        "default": 24,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "About Sendero Sessions"
      },
      {
        "type": "richtext",
        "id": "sessions_des",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
       "type": "select",
       "id": "txt_align",
       "options": [
        {
           "value": "tl",
           "label": "Left"
         },
         {
           "value": "tc",
           "label": "Center"
         },
         {
           "value": "tr",
           "label": "Right"
         }
       ],
       "label": "Text alignment",
       "default": "tc"
      },
      {
        "type": "checkbox",
        "id": "use_anchor",
        "label": "Use anchor to videos section?",
        "default": true
      },
      {
        "type": "header",
        "content": "== Color"
      },
      {
        "type": "checkbox",
        "id": "use_shadow",
        "label": "Use text shadow?",
        "default": false
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Watch Sessions"
      },
      {
        "type": "range",
        "id": "btn_spacing",
        "label": "Button Spacing",
        "min": 0,
        "max": 64,
        "unit": "px",
        "step": 1,
        "default": 16
      },
      {
        "type": "select",
        "id": "cl_txt",
        "options": [
         {
            "value": "dark",
            "label": "Dark"
         },
         {
            "value": "light",
            "label": "Light"
          }
        ],
        "label": "Text"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "nt_full",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": ",,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "50px,,50px,"
      }
    ],
    "blocks": [
      {
        "type": "sessions-image",
        "name": "Sessions Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "sessions_indiv_image",
            "label": "Sendero Sessions Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Sk Sessions Description",
        "category": "III. Image"
      }
    ]
  }
{% endschema %}